* {
    background-blend-mode: soft-light;
}

body {
    background: #FFFFFE;
    font-family: 'Inconsolata', monospace;
    /*font-size: 1,5em;*/
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 37px;
    /*line-height: 1.5;*/
}

.nav {
    background-color: #FAF3F8;
    padding-top: 0.2em;
    padding-right: 0px;
    padding-bottom: 0.2em;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 70px;
    padding: 0.2em 0;
    animation: 8000ms ease-in-out infinite color-change;
}

a:visited {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

a {
    text-decoration: none;
}


a,
p {
    padding: 0.5em;
    color: #2e2e2e;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

nav a img {
    padding: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a p:hover {
    color: rgb(249 125 13);
}

p.selected {
    color: rgb(249 125 13);
}

nav a img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

@keyframes color-change {
    0% {
        background-color: #ffd8b6;
    }

    10% {
        background-color: #FAF3F8;
    }

    50% {
        background-color: #ffd8b6;
    }

    80% {
        background-color: #FAF3F8;
    }

    100% {
        background-color: #ffd3ac;
    }
}


.welcome {
    width: 70%;
    object-fit: cover;
    border: 1.5px solid #333333;
    border: none;
    overflow: hidden;
    height: 15rem;
    top: 15px;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 4em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 18rem;
    top: 15px;
}

.console-underscore {
    display: inline-block;
    position: relative;
    left: 10px;
}


.pitch {
    background-image: radial-gradient(#999999 10%, transparent 10%);
    background-size: 20px 20px;
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0);
    height: 22rem;

}

.pitch h1 {
    margin: 1.5em 3em;
    text-align: justify;
    line-height: 1em;
}

.me {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: 30%;
    font-size: 14px;
}

.aboutme {
    width: 50%;
    height: 17rem;
    margin: 15px;
    margin-top: 11%;
    line-height: 18px;
}

.fotomia {
    padding: 10px;
    width: 50%;
    height: auto;
    align-items: center;
}

img {
    margin-left: 34px;
    margin-top: 10%;
    width: 380px;
    height: 434px;
    left: 1007px;
    top: 264px;
    border-radius: 20%;
}

.hablemos {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.contactme {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    text-align: left;
    margin: 24px;
    padding: 24px;
    font-size: 20px;

    background-image: radial-gradient(#999999 10%, transparent 10%);
    background-size: 20px 20px;
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0);
    height: 17rem;
    line-height: 15px;
}

.projects {
    display: grid;
    columns: 2;
}

.ghiblers {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

video {
    height: 12em;
    width: auto;
}
